.container {
  display: flex;
  height: calc(100vh - 60px  30px); /* Adjust the height based on your header/footer size */
  padding: 10px; /* Add padding around the container */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  width: 80%;
}

.foodBankList {
  flex: 1;
  overflow-y: auto;
  margin-right: 10px; /* Add space between the list and the map */
}

.mapContainer {
  flex: 2;
  height: 80%;
}

#map {
  width: 100%;
  height: 500px; /* Or any other desired height */
}

/* Overall Container */
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1000;
}

/* Main Section */
.main-section {
  flex: 1;
  display: flex;
}

/* Food List Panel */
.food-list-panel {
  width: 30%;
  background-color: #fff;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  padding: 1rem;
}

/* Map Panel */
.map-panel {
  flex: 1;
  height: calc(100vh - 60px - 30vh);
}

/* Footer */
.footer {
  height: 30vh;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
